
:root {
    --primary-color: #2D6A4F;
    --secondary-color: #FACC15;
    --bg-light:#F6FBFF;
    --white: #ffffff;
    --black: #000000;
    --red: #DC2626; 
    --first-font:"Barlow", sans-serif;
    --second-font:"Barlow Condensed", sans-serif;
    
}
::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: var(--first-font);
    background-color: var(--white);
    color: var(--black);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2 !important;
    text-transform: capitalize;
    font-family: var(--second-font);
    font-weight: 500 !important;
}
.no-scroll {
    overflow: hidden;
}
/* Custom focus styles */
*:focus {
    outline: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 30;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.overlay.open {
    opacity: 1;
    visibility: visible;
}
.mobile-menu.show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  
/*** swiper slider ****/
.swiper-slide {
    height: auto;
}
.swiper-button-prev,
.swiper-button-next {
    height: 35px;
    width: 35px;
    z-index: 2;
    outline: none;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
}
.swiper-button-next {
    right: 0 !important;
    left: auto !important;
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
}
.swiper-button-prev {
    left: 0 !important;
    right: auto !important;
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
}
.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
}
.swiper-button-prev,
.swiper-button-next {
    background-color: var(--primary-color);
    border-radius: 8px 0 8px 0;
    -webkit-border-radius: 8px 0 8px 0;
    -moz-border-radius: 8px 0 8px 0;
    -ms-border-radius: 8px 0 8px 0;
    -o-border-radius: 8px 0 8px 0;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
}
.swiper-button-next:hover,
.swiper-button-next:focus,
.swiper-button-prev:hover,
.swiper-button-prev:focus {
    background-color: var(--secondary-color);
}
.swiper-button-next:hover::after,
.swiper-button-next:focus::after,
.swiper-button-prev:hover::after,
.swiper-button-prev:focus::after{
    color: var(--black);
} 
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0;
}

.swiper-button-disabled {
    pointer-events: unset !important;
    opacity: .7 !important;
}
.swiper-button-lock {
    display: none;
}
.swiper-pagination.testimonial-pagination span{
    font-size: 18px;
}
.btn {
    padding: 12px 16px;
    font-weight: 600;
    line-height: 1;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    border-radius: 12px 0 12px 0;
    -webkit-border-radius: 12px 0 12px 0;
    -moz-border-radius: 12px 0 12px 0;
    -ms-border-radius: 12px 0 12px 0;
    -o-border-radius: 12px 0 12px 0;
}
.btn:hover,
.btn:focus{
    box-shadow: inset 0 1.5em 0em 0em var(--secondary-color), inset 0 -1.5em 0em 0em var(--secondary-color);
    color: var(--black);
    border-color: var(--secondary-color);
}
.btn-white{
    border-color: var(--primary-color);
    color: var(--primary-color);
    background-color: var(--white);
}
.btn-white:hover,
.btn-white:focus{
   box-shadow: inset 0 1.5em 0em 0em var(--primary-color), inset 0 -1.5em 0em 0em var(--primary-color);
    color: var(--white);
}
.btn-secondary {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--black);
}
.btn-secondary:hover,
.btn-secondary:focus{
       box-shadow: inset 0 1.5em 0em 0em var(--primary-color), inset 0 -1.5em 0em 0em var(--primary-color);
       color: var(--white);
       border-color: var(--primary-color);
}
/* Form Styles */
.form-input {
    transition: all 0.3s ease;
    border: 2px solid #e5e7eb;
}
.form-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 4px rgba(68, 174, 111, 0.1);
}
input[type="date"] {
    cursor: pointer;
}
select.form-input {
    appearance: none !important;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20448%20512%22%3E%3C!--%21Font%20Awesome%20Free%206.7.2%20by%20%40fontawesome%20-%20https%3A//fontawesome.com%20License%20-%20https%3A//fontawesome.com/license/free%20Copyright%202025%20Fonticons%2C%20Inc.--%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M201.4%20374.6c12.5%2012.5%2032.8%2012.5%2045.3%200l160-160c12.5-12.5%2012.5-32.8%200-45.3s-32.8-12.5-45.3%200L224%20306.7%2086.6%20169.4c-12.5-12.5-32.8-12.5-45.3%200s-12.5%2032.8%200%2045.3l160%20160z%22/%3E%3C/svg%3E);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: 96% 50%;
    padding-inline-end: 30px !important;
    cursor: pointer;
}
input::placeholder,
textarea::placeholder{
    color: var(--black) !important;
}
label {
    position: relative;
}

label sup {
    color: var(--red);
    font-size: 14px;
    margin-left: 2px;
    top: 0;
}
.typewriter {
    border-right: 2px solid #4ade80;
    animation: blink 1s infinite;
}
.slogan-swiper .swiper-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}
.slogan-swiper .swiper-slide {
    width: auto !important;
}
.category-card:hover svg path{
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
.category-card:hover svg path{
    fill: var(--white);
}
@keyframes blink {
    0%, 50% { border-color: #4ade80; }
    51%, 100% { border-color: transparent; }
}
.service-card:nth-child(even) .service-card-wrp{
    flex-direction: row-reverse;
}
.typewriter {
    border-right: 2px solid #ffffff;
    animation: blink 1s infinite;
}
.tracking-card {
    opacity: 0.5;
}
.tracking-card.active {
    opacity: 1;
}
@keyframes blink {
    0%, 50% { border-color: #ffffff; }
    51%, 100% { border-color: transparent; }
}
@media screen and (max-width:767px) {
    p,
    .btn,
    .btn-secondary,
    input::placeholder,
textarea::placeholder,
select option,
select{
        font-size: 14px !important;
    }
    .btn ,
    .btn-seconday{
        padding: 10px 15px;
    }
}
@media screen and (max-width:639px){
    .service-card:nth-child(even) .service-card-wrp{
        flex-direction: column;
    }
}
[dir="rtl"] select.form-input {
    background-position: 3% 50% !important;
}
[dir="rtl"] .fa-hand-point-right,
[dir="rtl"] .swiper-button-prev,
[dir="rtl"] .swiper-button-next,
[dir="rtl"] .fa-arrow-right,
[dir="rtl"] .fa-chevron-right,
[dir="rtl"] .fa-chevron-left{
    transform: scaleX(-1) !important;
    -webkit-transform: scaleX(-1) !important;
    -moz-transform: scaleX(-1) !important;
    -ms-transform: scaleX(-1) !important;
    -o-transform: scaleX(-1) !important;
}